/* CSS Document */
body
{
	font-size: 12px;
	font-family: Tohoma,ËÎÌå£¬Arial,Helvetica, sans-serif;
	background: url(../img/bg.png) #eeeeee;
	text-align:center;
}
a, a:link
{
	text-decoration: none;
	color: #333333;
}
a:hover
{
	text-decoration: underline;
	color: #003399;
}
.wrapper
{
	height: inherit;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align:left;
}
.header-border
{
	padding: 2px;
	background: #FFFFFF;
	width: 100%;
}
.header
{
	background: url(../img/header_bg.png) repeat-x #FFFFFF;
	height: 100%;
	padding-bottom:10px;
}

.header h5
{
	color: #ADE1FC;
	padding:10px 0 0 10px;
	margin: 0 0 10px 0;
}
.header h3
{
	color: #71AAEE;
	text-align: right;
	margin: -10px 10px 10px 0px;
	padding-bottom: 10px;
}
.header-inner
{
background:url(../img/header.png) no-repeat; 
height:120px;
width:100%;
margin-bottom:5px;
}
.logo
{
	background: url(../img/logo.png) no-repeat;
	margin-left: 20px;
	margin-top: -10px;
	text-indent: -1111px;
	height: 55px;
}
#navigation a
{
	color: #FFFFFF;
	text-decoration: none;
}
#navigation
{
	position: relative;
	cursor: pointer;
	z-index: 30;
	padding: 0px 20px;
}
#navigation ul
{
	padding: 0px;
	margin: 0px;
}
#navigation ul li
{
 display:inline;
 list-style:none;
 font-size:16px;
 padding:5px 0.5em 10px 0.5em;
 margin-bottom:10px;
 font-family:ºÚÌå,Arial, Helvetica, sans-serif;
 color:#FFFFFF;
 position:relative;
}
#navigation .candy-menu
{
 display:none;
 position:absolute;
 background:#0066CC;
 top:28px;
 width:7em;
 margin-left:-0.5em;
 text-align:left;


}
#navigation .candy-menu  a:hover
{
	color:#FFFF66;
}
#navigation .candy-menu  .candy-menu
{
   display:none;
 position:absolute;
 background:#0066CC;
 left:7em;
 top:-0em;
 margin:0px;

}
#navigation .candy-menu .li-node
{

background:url(../img/menu-child.gif) right no-repeat ;

}
#navigation .candy-menu .li-node-hover
{

background:url(../img/menu-child-hover.gif) right no-repeat ;

}

#navigation .candy-menu ul li
{
display:block;
list-style:none;
 font-size:14px;
 padding:5px 0px 5px 1em;
 margin:0px;
}


.enversion a
{
	color:#FFFF99;
	float: right;
	padding: 10px;
	font-weight: bold;
}
.search-box
{
	position: absolute;
	left: 75%;
	top: -10px;
}
.search-box input[type="text"]
{
	 width:90px;
}
.main-wrapper
{
	background: #ffffff;
	float: left;
	width: 100%;
	min-height: 300px;
	line-height: 25px;
	padding: 2px;
	
}
.main-content
{
	width: 75%;
	float: right;
	
}
.slider
{
	width: 23%;
	float: left;
	height: auto;
	border-right: dashed 1px #999999;
}
.index-slider
{
	width: 28%;
	float: left;
	height: auto;
	border-right: dashed 1px #999999;
}
.input-button
{
	color: #ffffff;
	background: #FF9900;
	font-size: 12px;
	text-align: center;
	width: 60px;
	padding: 3px;
	border-top: #FFFF00;
	border-left: #FFFF00;
	border-bottom: #FF0000;
	border-right: #FF0000;
	margin-left: 15px;
	margin-top: 10px;
}
.input-text
{
	width: 120px;
}
.index-main-content
{
	width: 71%;
	float: right;
	margin-left: -10px;
}
.picnews img
{
	width: 312px;
	height: 210px;
}

.column
{
	float: left;
	margin: 10px;
}
.index-main-content .column
{
	width: 45%;
	height: 210px;
}
.column-content ul li .new
{
	padding-right: 30px;
	background: url(../img/new.png) no-repeat right;
}
.column-content ul li .postdate
{
	text-align:right;
	color: #999999;

	position:absolute;
	margin:0px;
	padding:0px;
	right:0%;
	line-height:14px;
	font-size:12px;
}
.column-content ul li a
{
	font-size: 14px;
	
}
.column-head
{
	line-height: 14px;
	background: url(../img/column-header-icon.png) no-repeat;
	text-indent: 20px;
	color: #136DBC;
	font-size: 16px;
	font-family: ºÚÌå,Arial, Helvetica, sans-serif;
	border-bottom: dashed #136DBC 1px;
	padding-bottom: 5px;
	position: relative;
	font-weight: bold;
}
.column-head span a
{
	position: absolute;
	left: 72%;
	font-size: 12px;
	color: #66CC00;
}
.column-content
{
  margin-top:0.5em;
}
.column-content ul
{
	margin-top:0em;
}
.column-content ul li
{
	list-style: url(../img/list-style.gif);
	list-style-position: outside;
	margin-left: -25px;
	position:relative;
}
.mini
{
	margin: 3px 3px;
	width:97%;
}
.mini .column-head
{
	background: #136DBC;
	width: 100%;
	padding: 8px 0;
	color: #FFFFFF;
	border-bottom: 0px;
}
.mini .column-head span a
{
	left: 65%;
	color: #FFFF99;
}

#category .column-content ul li
{
	list-style:none;
	list-style-image:none;
	background:url(../img/list-style.gif) no-repeat;
	background-position:20% 0.8em;
	text-align:center;
	width:100%;
	margin:6px;
	margin-left:-3em;
	
}
#category .column-content ul li a
{
	border:1px solid #999999;
		width:100%;
		color:#000000;
		text-align:center;
		display:block;
	
}
#category .column-content ul li ul li a
{

border:1px dashed #999999;
background:#F2F2F2;
color:#777777;
}
.footer-border
{
	background: #FFFFFF;
	width: 100%;
	padding: 2px;


	float: left;
	height: auto;
}
.footer
{
	float: left;
	background: url(../img/footer_bg.png) repeat-x;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align: center;
	padding: 5px 0;
}
.footer p
{
	font-size: 12px;
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 3px;
}
.error, .success, .tip
{
	margin: 10px 0 10px 0;
	padding: 12px;
	color: #555;
}
.error
{
	border: solid 1px #c00;
	background-color: #ffebe8;
}
.success
{
	border: solid 1px #ccccee;
	background-color: #eef5ff;
}
.tip
{
	border: solid 1px #d3c403;
	background-color: #fdf166;
}