table
{
  font-size:14px;
  line-height:25px;
}
a
{
text-decoration:none;
color:#333333;
}
a:hover
{
text-decoration:underline;
color:#000000;
}
.addItem
{
color:#FF9900;
text-decoration:none;
}
.addItem:hover
{
 color:#FF9900;
 font-weight:bold;
}
 .label-input, .label-select
 {
  background:#FFFFFF;
  display:none;
  
 }
 .label-input-focus
 {
 
   border:1px  ;
   outline:1px;
 }
 td
{
	width:130px;
}
 table,tr,td
 {
 border:0px solid;
 outline:0px;
 border-spacing:0px;
 margin:0px;

 }
 tr
 {
  padding:5px;
 }
 span a
 {
     padding-left:1.2em;
	 padding-right:1em;
	
 }
 .save-or-cancel
 {
   display:none;
 }
 .edit-button
 {
 background:url(../img/edit.png) no-repeat;
 }
 .save-button
 {
 background:url(../img/save.png) no-repeat;
 }
 .cancel-button
 {
  background:url(../img/cancel.png) no-repeat;
 }
  .delete-button
 {
  background:url(../img/delete.png) no-repeat;
 }
 select
 {
 display:none;
 }