/*上传样式*/
form
{
	margin: 0;
	padding: 0;
}
/*.fileUpArea{ width:80px; height:20px; background:url(img/addfile.gif) no-repeat left top;position:relative; overflow:hidden;}
 .fileHover{ width:80px; height:20px; background:url(img/addfilehover.gif) no-repeat left top;position:relative; overflow:hidden;}
        /*.fileinput{ width:60px;size:1%; position:absolute; margin-left:10px;margin-top:1px;filter:alpha(opacity=0);-moz-opacity:0;cursor:point;}
       
        #fileUpArea input{ width:60px;size:1%; position:absolute; margin-left:10px;margin-top:1px;filter:alpha(opacity=0);-moz-opacity:0;cursor:point;}*/
.fileinput
{
	font-size: 20px;
	cursor: pointer;
	position: absolute;

	filter: alpha(opacity=0);
	opacity: 0;
	width: 10px;
	outline: none;
	hide-focus: expression(this.hideFocus=true);
	cursor: pointer;
	
}
.filetxt
{
	font-size: 12px;
	color: #0066FF;
	padding: 10px;
	cursor: pointer;
}
#filetxt img
{
	cursor: pointer;
}
.spanstate
{
	font-size: 11px;
	color:#666666;
	padding: 10px;
}
.delFile 
{
	color:#FFCC00;
	font-weight:bold;
	cursor:pointer;
}


/*上传样式*/
/*file样式*/
/*#idPicFile {
	width:80px;height:20px;overflow:hidden;position:relative;
	
}
#idPicFile input {
	font-size:20px;cursor:pointer;
	position:absolute;right:0;bottom:0;
	filter:alpha(opacity=0);opacity:0;
	outline:none;hide-focus:expression(this.hideFocus=true);
}*/