 .label-input, .label-select
 {
  background:#FFFFFF;
  display:none;
  
 }
 .label-input-focus
 {
 
   border:1px  ;
   outline:1px;
 }
 span a
 {
     padding-left:1.2em;
	
 }
 .save-or-cancel
 {
   display:none;
 }
 .edit-button
 {
 background:url(../img/edit.png) no-repeat;
 }
 .save-button
 {
 background:url(../img/save.png) no-repeat;
 }
 .cancel-button
 {
  background:url(../img/cancel.png) no-repeat;
 }
  .delete-button
 {
  background:url(../img/delete.png) no-repeat;
 }
 select
 {
 display:none;
 }