/* CSS Document */
a
{
}
.site-depth
{
	line-height: 14px;
	padding: 0 0 0 20px;
	color: #000066;
	font-weight: bold;
	margin: 14px 0 0 10px;
	background: url(img/column-header-icon.png) no-repeat;
}
.site-depth a
{
	color: #0099FF;
}
.list ul
{
	min-height:300px;
}
.list ul li
{
	border-bottom: 1px dotted #FF9900;
	padding: 0px;
	margin-left: -10px;
	list-style: url(img/list-style.png);
	list-style-position: outside;
	margin-right: 20px;
	font-size:14px;
}
.list li .new
{
	padding-right: 30px;
	background: url(img/new.png) no-repeat right;
}
.list li .postdate
{
	float: right;
	color: #999999;
}