<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="ConnectionString" value="Server=(local)\sqlexpress;Database=UniqueStudioCMS;User ID=sa;Password=P@ssw0rd;Trusted_Connection=False;"/>
		<add key="FCKeditor:UserFilesPath" value="~/uploads/"/>
		<add key="FCKeditor:BasePath" value="~/admin/editor/fckeditor/"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add type="UniqueStudio.HttpControlLayer.SitesRouter,UniqueStudio.HttpControlLayer" name="SitesRouter"/>
      <add type="UniqueStudio.HttpControlLayer.HttpUserAuthorization,UniqueStudio.HttpControlLayer" name="HttpUserAuthorization"/>
      <add type="UniqueStudio.HttpControlLayer.HttpPageVisitModule,UniqueStudio.HttpControlLayer" name="HttpPageVisitModule"/>
      <!--<add type="UniqueStudio.HttpControlLayer.UrlRewriter,UniqueStudio.HttpControlLayer" name="UrlRewriter"/>-->
    </httpModules>
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
	</system.webServer>
</configuration>
