 .tipBox
 {
    position:fixed;
	left:40%;
	top:40%;
	width:200px;
	  width:200px;
	background:#FFFF99;
	border:#FFCC66 1px solid;
	font-size:12px;
 }
 #toolTip .tipBox
 {
  position:inherit;
  display:block;

 }
 .tipBox .tipHead
 {
  border-bottom:#333333 1px solid;
  text-align:left;
  	padding:10px;
 }
 .tipBox  .tipContent
 {
  text-align:center;
  	padding:2px;
 }/* CSS Document */

