/* CSS Document */
.list-manager
{
 text-align:left;
 background:#FFFFFF;
  color:#000000;
 margin:20px 0px;
  border:#999999 1px solid;
     border-bottom: 0px;
}
.list-manager div
{
   border-bottom:#999999 1px solid;
    padding:5px 0px;
}
.list-manager .list-item
{
 width:100%;

}
.list-manager span
{
display:inline-block;
}
.list-manager .list-header,.list-footer
{
background:url(img/list-header-bg.png) repeat-x;
color:#000000;
font-weight:bold;
}
.list-manager .list-item .article-title a
{
color:#0066FF;
font-weight:bold;
}
.list-manager  .article-views
{
width:5%;
}
.list-manager .article-title , .list-manager .article-do-menu
{
width:45%;
}
.list-manager  .article-category
{
width:15%;
}
.list-manager .article-date
{
width:5%;
}


.list-manager .article-author
{
width:6%;
}
.list-manager .article-tag
{
 width:14%;
}
.list-manager .list-item .article-category
{
color:#000066;
font-weight:bold;
}
.list-manager .list-item .article-date
{
color:#666666;
}
.list-manager .article-do-menu 
{
  text-align:right;
   display:none;
   border:0px solid;
}
.list-manager .article-do-menu a
{
 color:#FF9900;
 font-size:12px;

 
}
